body{
    background-image: url('./components/blur.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
.new-font{
    font-family: 'DotGothic16';
}